.title {
    font-size: 40px;
    line-height: 36px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    opacity: .8;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image {
    width: 700px;
    height: auto;
}

.link {
    color: #ffffff;
    text-decoration: underline;
}

@media (min-width: 320px) {
    .image {
        width: 290px;
    }
}


@media (min-width: 760px) {
    .image {
        width: 500px;
    }
}