.text:hover {
    text-decoration: underline;
}

.navigation {
    display: inline-block;
    list-style: none;
    gap: 32px;
    background-color: #111111;
    height: 61px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 7px;
    border-radius: 9px;
    font-size: 18px;
}

.text {
    color: white;
    opacity: 1;
}